@import './logIn.css';
@import './navbar.css';
@import './books.css';
@import './cartStyle.css';
@import './form.css';
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#CBC3E3;
    color: white;
    text-align: center;
 }
