@import './logIn.css';
@import './navbar.css';
@import './books.css';
@import './cartStyle.css';
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cbc3e3;
  color: white;
  text-align: center;
}
