.cartBtn {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 21%;
  left: 24%;
  background-color: #9969c7;
  color: white;
}
.itemCount {
  width: 6%;
  box-sizing: border-box;
  display: inline;
}
.italicsFont {
  font-style: italic;
}
