body {
  box-sizing: border-box;
}
.logInBox {
  background-color: #f8f8ff;
  position: relative;
  top: 220px;
}
.input {
  border: 2px solid #804fb3;
  border-radius: 25px;
}
.button {
  margin-left: 10%;
  width: 80%;
  background-color: #804fb3;
  color: white;
  border: 2px solid #804fb3;
  border-radius: 25px;
}
.text {
  font-family: 'Catamaran', sans-serif;
}
