<nav class="navbar navbar-expand-lg navbar-light navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Book App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        {{yield}}
         <li class="nav-item">
          <LinkTo @route="logIn" class="nav-link">Log Out</LinkTo>
        </li>
        </ul>
        </div>
    </div>
</nav>