{{page-title 'Admin'}}
<Header>
  <li class='nav-item'>
    <LinkTo @route='admin.addBook' class='nav-link'>Add</LinkTo>
  </li>
  <li class='nav-item'>
    <LinkTo @route='admin.getBooks' class='nav-link'>View</LinkTo>
  </li>
</Header>

{{outlet}}